* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../imgs/fundo.png');
    background-size: cover;
    background-position: center;
}
.tit{
    display: flex;
    align-items: center;
    background-color: rgb(6, 107, 97);
    justify-content: space-between;
}
.logo{
    display: flex;
    padding: 2%;
    font-size: 120%;
    background-color: rgb(101, 169, 179);
    margin: 1%;
    border-radius: 20px;
}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    border-style: solid;
    margin-right: 1%;
    border-radius: 50px;
    height: 5px;

}
.but a{
    background-color: rgb(190, 239, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
    font-size: large;
    text-decoration: none;
}
.but a:active {
    transform: translate(2px, 2px); /* Move o botão na direção da sombra */
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.but a.active{
    box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.2);
    transform: translate(2px, 3px);
    cursor: default;
    color: rgb(14, 95, 95);
}
.seta{
    width: 150px;
}
.home{
    background-color: black;
    border-style: solid;
}
.grafb{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
}
.grafp{
    display: flex;
    width: 50%;
    border-radius: 5px;
    box-shadow: -10px 10px 9px rgba(0, 0, 0, 0.3);
    margin: 1%;
}
.infA{
    display: flex;
    padding-top: 1%;
}
.infA p, .infB p{
    padding: 3%;
    font-size: 35px;
    border-style: solid;
    border-radius: 10px;
    margin: 1%;
    border-color: rgb(101, 169, 179);
}
.infB{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
.rodp{
    display: flex;
    background-color: rgb(6, 107, 97);
    align-items: center;
    gap: 25%;
}
.nomeg{
    padding-left: 2%;
}
.dest{
    color: rgb(6, 107, 97);
}
.integ{
    border-radius: 5px;
    border-style: solid;
    padding: 20px;
    margin: 1%;
}
.intr{
    padding: 3%;
    font-size: 35px;
    border-style: solid;
    border-radius: 10px;
    margin: 1%;
    border-color: rgb(101, 169, 179);
    text-align: center;
}
.card{
    background-color: rgb(121, 255, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
    font-size: large;
    text-decoration: none;
    margin: 2%;
    font-size: medium;
}
.back, .front, .data, .sec, .mobile, .ux, .cloud{
    width: 100px;
    height: 100px;
    padding: 10px;
}
.cont a{
    color: blue;
}
.l1{
    display: flex;
}
.l2{
    display: flex;
    justify-content: center;
}